<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dataTable.css') }}" media="screen" />
</head>
<body>
<div class="buttonWrapper">
    <select id="wochenAuswahl">
        <option value="1">1 Woche</option>
        <option value="2">2 Woche</option>
        <option value="3">3 Woche</option>
        <option value="4">4 Woche</option>
    </select>
    <input id="simulationButton" type="button" value="Start" onclick="startSimulation()">
    <input id="deleteButton" type="button" value="Löschen" onclick="deleteSimulation()">
    <a href="/downloadOrders" download>
        Bestellungen herunterladen
    </a>
    <a style="padding-left:20px;" href="/downloadStatus" download>
        Status herunterladen
    </a>
</div>

<div class="tabsWrapper">
    <span class="tabs" style="font-weight: bold;" onclick="changeTab('1',this)">Bestellungen</span>
    <span class="tabs" onclick="changeTab('2',this)">Status</span>
    <span class="tabs" onclick="changeTab('3',this)">Grafik</span>
</div>

<div id="tableWrapperOrder" style="width:50%;">
    <table id="orderId">
        <thead>
            <th>
                ID
            </th>
            <th>
                Coffee
            </th>
            <th>
                Timestamp
            </th>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.beverageID}}</td>
                    <td>{{order.timestampOrder}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<div id="tableWrapperStatus" style=" margin-top:40px; width: 85%; display:none;">
    <table id="statusTable">
        <thead>
            <th>
                ID
            </th>
            <th>
                Timestamp
            </th>
            <th>
                PowerOn
            </th>
            <th>
                energySaver
            </th>
            <th>
                remainingBeans
            </th>
            <th>
                remainingMilk
            </th>
            <th>
                remainingWater
            </th>
            <th>
                pumpRuntime
            </th>
            <th>
                grinderRuntime
            </th>
            <th>
                machineRuntime
            </th>
        </thead>
        <tbody>
            {% for status in statusList %}
                <tr>
                    <td>{{status.id}}</td>
                    <td>{{status.timestamp}}</td>
                    <td>{{status.powerOn}}</td>
                    <td>{{status.energySaver}}</td>
                    <td>{{status.remainingBeans}}</td>
                    <td>{{status.remainingMilk}}</td>
                    <td>{{status.remainingWater}}</td>
                    <td>{{status.pumpRuntime}}</td>
                    <td>{{status.grinderRuntime}}</td>
                    <td>{{status.machineRuntime}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div id="chartWrapper" style="height:400px;width:400px;display:none;" >
    <canvas id="myChart" width="400" height="400" ></canvas>
</div>


<div id="loader-wrapper">
    <div id="loader"></div>
</div>

</body>


<script>
{% autoescape false %}
   var orders = {{orderStr}};
{% endautoescape %}




var ordersForGraph1 = {};
var ordersForGraph2 = {};
var ordersForGraph3 = {};
var ordersForGraph4 = {};
var ordersForGraph5 = {};
var ordersForGraph6 = {};
var labels = []

for (i = 0; i < orders.length; i++) {
  orders[i]["timestampOrder"] = moment(orders[i]["timestampOrder"],"YYYY-MM-DD").toDate();
  formattedDate = moment(orders[i]["timestampOrder"]).format("YYYY-MM-DD");

  if(labels.indexOf(formattedDate) == -1){
      labels.push(formattedDate);
  }

  if(orders[i]["beverageID"] == '1'){
      if (ordersForGraph1[formattedDate] === null || typeof ordersForGraph1[formattedDate] === 'undefined'  ){
          ordersForGraph1[formattedDate] = 1;
      }else{
          ordersForGraph1[formattedDate] = ordersForGraph1[formattedDate] + 1;
      }
  }
  else if(orders[i]["beverageID"] == '2'){
        if (ordersForGraph2[formattedDate] === null || typeof ordersForGraph2[formattedDate] === 'undefined'  ){
            ordersForGraph2[formattedDate] = 1;
        }else{
            ordersForGraph2[formattedDate] = ordersForGraph2[formattedDate] + 1;
        }
    }
    else if(orders[i]["beverageID"] == '3'){
        if (ordersForGraph3[formattedDate] === null || typeof ordersForGraph3[formattedDate] === 'undefined'  ){
            ordersForGraph3[formattedDate] = 1;
        }else{
            ordersForGraph3[formattedDate] = ordersForGraph3[formattedDate] + 1;
        }
    }
    else if(orders[i]["beverageID"] == '4'){
        if (ordersForGraph4[formattedDate] === null || typeof ordersForGraph4[formattedDate] === 'undefined'  ){
            ordersForGraph4[formattedDate] = 1;
        }else{
            ordersForGraph4[formattedDate] = ordersForGraph4[formattedDate] + 1;
        }
    }
    else if(orders[i]["beverageID"] == '5'){
          if (ordersForGraph5[formattedDate] === null || typeof ordersForGraph5[formattedDate] === 'undefined'  ){
              ordersForGraph5[formattedDate] = 1;
          }else{
              ordersForGraph5[formattedDate] = ordersForGraph5[formattedDate] + 1;
          }
      }
    else if(orders[i]["beverageID"] == '6'){
          if (ordersForGraph6[formattedDate] === null || typeof ordersForGraph6[formattedDate] === 'undefined'  ){
              ordersForGraph6[formattedDate] = 1;
          }else{
              ordersForGraph6[formattedDate] = ordersForGraph6[formattedDate] + 1;
          }
  }
}

var datasets = [];
var dataForSet1 = [];
var dataForSet2 = [];
var dataForSet3 = [];
var dataForSet4 = [];
var dataForSet5 = [];
var dataForSet6 = [];

for (i = 0; i < labels.length; i++) {
    dataForSet1.push(checkIfUndefined(ordersForGraph1[labels[i]]));
}
newDataSet1 = {
    label : "Cafe Creme",
    backgroundColor : "#880088",
    data : dataForSet1
}
for (i = 0; i < labels.length; i++) {
    dataForSet2.push(checkIfUndefined(ordersForGraph2[labels[i]]));
}
newDataSet2 = {
    label : "Latte Machiatto",
    backgroundColor : "#008888",
    data : dataForSet2
}
for (i = 0; i < labels.length; i++) {
    dataForSet3.push(checkIfUndefined(ordersForGraph3[labels[i]]));
}
newDataSet3 = {
    label : "Espresso",
    backgroundColor : "#0000FF",
    data : dataForSet3
}
for (i = 0; i < labels.length; i++) {
    dataForSet4.push(checkIfUndefined(ordersForGraph4[labels[i]]));
}
newDataSet4 = {
    label : "Heißes Wasser",
    backgroundColor : "#008800",
    data : dataForSet4
}
for (i = 0; i < labels.length; i++) {
    dataForSet5.push(checkIfUndefined(ordersForGraph5[labels[i]]));
}
newDataSet5 = {
    label : "Milchkaffee",
    backgroundColor : "#888888",
    data : dataForSet5
}
for (i = 0; i < labels.length; i++) {
    dataForSet6.push(checkIfUndefined(ordersForGraph6[labels[i]]));
}
newDataSet6 = {
    label : "Doppelter Espresso",
    backgroundColor : "#FF0000",
    data : dataForSet6
}
datasets.push(newDataSet1);
datasets.push(newDataSet2);
datasets.push(newDataSet3);
datasets.push(newDataSet4);
datasets.push(newDataSet5);
datasets.push(newDataSet6);




function checkIfUndefined(value){
    if(typeof value === 'undefined'){
        return 0;
    }else{
        return value;
    }

}
var barChartData = {labels : labels, datasets : datasets}


/*
var labels = [];
var data =[];

for(var k in ordersForGraph){
    console.log(k);
    labels.push(k);
    data.push(ordersForGraph[k]);
}
*/






$(document).ready(function() {
    $('#orderId').DataTable( {
        "pagingType": "full_numbers",
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
        }
    } );
    $('#statusTable').DataTable( {
        "pagingType": "full_numbers",
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
        }
    } );

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
            title: {
                display: true,
                text: 'Chart.js Bar Chart - Stacked'
            },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });



} );

function changeTab(tab,obj){
    if(tab == 1) {
        jQuery('#tableWrapperStatus').hide();
        jQuery('#chartWrapper').hide()
        jQuery('#tableWrapperOrder').fadeIn();
        jQuery('.tabs').css('font-weight','normal');
        jQuery(obj).css('font-weight','bold');


    }else if(tab == 2){
        jQuery('#tableWrapperStatus').fadeIn();
        jQuery('#chartWrapper').hide()
        jQuery('#tableWrapperOrder').hide();
        jQuery('.tabs').css('font-weight','normal');
        jQuery(obj).css('font-weight','bold');

    }else if(tab == 3){
        jQuery('#tableWrapperStatus').hide();
        jQuery('#chartWrapper').fadeIn()
        jQuery('#tableWrapperOrder').hide();
        jQuery('.tabs').css('font-weight','normal');
        jQuery(obj).css('font-weight','bold');

    }
}

function startSimulation() {
    console.log("Start ausgeführt");
    jQuery('#loader-wrapper').show();
    jQuery.ajax({
       type: "GET",
       url: "/startSimulation?wochen="+ jQuery('#wochenAuswahl').val(),
       success: function(data){
            alert(data)
            location.reload();
       }
    });
}

function deleteSimulation() {
    console.log("delelte ausgeführt");
    jQuery('#loader-wrapper').show();
    if (confirm('Daten wirklich löschen?')) {
        jQuery.ajax({
           type: "GET",
           url: "/deleteSimulation",
           success: function(data){
                alert(data)
                location.reload();
           }
        });
    }

}



</script>





</html>
