<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
</head>
<body>
<div class="buttonWrapper">
    <input id="simulationButton" type="button" value="Start" onclick="startSimulation()">
    <input id="deleteButton" type="button" value="Löschen" onclick="deleteSimulation()">
</div>
<div class="tableWrapperOrder">
    <table>
        <thead>
            <th>
                ID
            </th>
            <th>
                Coffee
            </th>
            <th>
                Timestamp
            </th>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.beverageID}}</td>
                    <td>{{order.timestampOrder}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<div class="tableWrapperStatus" style=" margin-top:40px">
    <table>
        <thead>
            <th>
                ID
            </th>
            <th>
                Zeit
            </th>
            <th>
                PowerOn
            </th>
            <th>
                energySaver
            </th>
            <th>
                requiredBeans
            </th>
            <th>
                requiredMilk
            </th>
            <th>
                requiredWater
            </th>
            <th>
                pumpRuntime
            </th>
            <th>
                grinderRuntime
            </th>
            <th>
                machineRuntime
            </th>
        </thead>
        <tbody>
            {% for status in statusList %}
                <tr>
                    <td>{{status.id}}</td>
                    <td>{{status.timestamp}}</td>
                    <td>{{status.powerOn}}</td>
                    <td>{{status.energySaver}}</td>
                    <td>{{status.remainingBeans}}</td>
                    <td>{{status.remainingMilk}}</td>
                    <td>{{status.remainingWater}}</td>
                    <td>{{status.pumpRuntime}}</td>
                    <td>{{status.grinderRuntime}}</td>
                    <td>{{status.machineRuntime}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div style="height:400px;width:400px;" >
    <canvas id="myChart" width="400" height="400" ></canvas>
</div>


</body>


<script>
{% autoescape false %}
   var orders = {{orderStr}};
{% endautoescape %}


var ordersForGraph = {};
for (i = 0; i < orders.length; i++) {
  orders[i]["timestampOrder"] = moment(orders[i]["timestampOrder"],"YYYY-MM-DD").toDate();
  formattedDate = moment(orders[i]["timestampOrder"]).format("YYYY-MM-DD");

  if (ordersForGraph[formattedDate] === null || typeof ordersForGraph[formattedDate] === 'undefined'  ){
    ordersForGraph[formattedDate] = 1;
  }else{
    ordersForGraph[formattedDate] = ordersForGraph[formattedDate] + 1;
  }
}





function startSimulation() {
    jQuery.ajax({
       type: "GET",
       url: "/startSimulation",
       success: function(data){
            alert(data)

       }
    });
}

function deleteSimulation() {
    if (confirm('Daten wirklich löschen?')) {
        jQuery.ajax({
           type: "GET",
           url: "/deleteSimulation",
           success: function(data){
                alert(data)
                location.reload();
           }
        });
    }

}

var labels = [];
var data =[];

for(var k in ordersForGraph){
    console.log(k);
    labels.push(k);
    data.push(ordersForGraph[k]);
}

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Vebrauchte Kaffee',
            data: data,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</html>
